<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letv.handleassistant">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--开机启动-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".application.SoftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HelpAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NoRootMappingAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BtnMappingAct"
            android:screenOrientation="portrait" />
        <!--蓝牙广播start-->
        <receiver android:name=".receiver.BluetoothReceiver">
            <!--<intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>-->
        </receiver>
        <!--蓝牙广播end-->
        <!--蓝牙服务-->
        <service android:name=".service.BluetoothService"/>
        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>